*{
    font-family: 'M PLUS 2', sans-serif;
}
.cantSelectable{
    user-select: none;
    -webkit-user-drag: none;
}
body{
    margin:0%;
    /* border: 1px solid gray; */
    width: 350px;
    min-width: 300px;
}
header{
    margin: 10px;
    margin-bottom: 0px;
    display: grid;
    grid-template-columns: 40px auto;
    grid-template-rows: 25px auto;
}
header>img{
    height: 40px;
    grid-row: 1/3;
    margin: auto;
    transition: 0.8s;
    filter: drop-shadow(0px 0px 1px #969696) grayscale(0%);
}
header>img[enabled=false]{
    filter: drop-shadow(0px 0px 1px #969696) grayscale(50%);
}
header>h1{
    margin-left: 4px;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 20px;
    line-height: 1px;
    grid-column: 2;
    grid-row: 1;
}
header>p{
    margin: 0px;
    grid-column: 2;
    grid-row: 2;
    margin-left: 8px;
}

#content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 30px;
    margin: 0;
    padding: 0;
    margin-top: 10px;
    border-top: 1px solid #dedede;
    background-color: #f7f7f7;
    height: 30px;
}
#content>#version{
    margin: 0;
    color: #3d3d3d;
    text-align: right;
    margin-top: auto;
    margin-right: 1px;
    margin-bottom: 1px;
    height: auto;
}

:root{
    --toggleButtonColor: #cfcfcf;
    --toggleAnimDuring: 90ms;
    --toggleButtonHeight:15px;
}

#toggle_wrap{
    width: 35px;
    height: var(--toggleButtonHeight);
    margin: auto 10px;
    border-radius: 9999px;
    background-color: lightgray;
    /* outline: #dedede solid 1px; */
    transition: background-color var(--toggleAnimDuring);
}
#toggle_wrap[checked=true]{
    background-color:#8bf855;
}
#toggle_circle{
    width: var(--toggleButtonHeight);
    height: var(--toggleButtonHeight);
    border-radius: 100%;
    background-color: gray;

    margin-left: 0%;
    transition: margin-left var(--toggleAnimDuring);
}
#toggle_circle[checked=true]{
    margin-left: calc(100% - var(--toggleButtonHeight));
}

#content>button{
    width: fit-content;
    height: fit-content;
    margin-top: auto;
    margin-bottom:auto;
    margin-left: 4px;
}

#ghlink{
    display: block;
    position: absolute;
    top: 5px;
    left: calc(350px - 18px - 5px);
    z-index: 1000;
    /* transform: translateX(100%); */
    width: 18px;
    
    opacity: 30%;
    transition: opacity 0.2s;
}
#ghlink:hover{
    opacity: 100%;
}