:root{
    --iron-icon-color: #606060;
}

/*
    en: Hide short tabs in the sidebar
    ja: サイドバーのショートタブを隠す
*/
.youtube-shorts-block a[title='Shorts'], .youtube-shorts-block a[title='ショート']{
    display: none !important;
    pointer-events: none !important;
}

.youtube-shorts-block ytm-pivot-bar-item-renderer:has(.pivot-bar-item-tab.pivot-shorts){
    display: none !important;
}

#block.youtube-shorts-block{
    color: white;
    margin: 6px 0;
    display: flex;
    flex-flow: column;
    text-align: center;
    font-size: 14px;
    user-select: none;
    cursor: pointer;
}
#block.youtube-shorts-block>svg{
    fill: white;
    margin: auto;
}

/*
    en: Disable the display of loading spinners
    ja: ローディングスピナーの表示を無効化
*/
ytd-continuation-item-renderer:not(:last-child):not(#comments *){
    display: none;
}

/*
    en: "Open in new tab" button in short player
    ja: ショートプレーヤーでの"新しいタブで開く"ボタン
*/
@media screen and (min-width:600px){
    #block.youtube-shorts-block{
        color: var(--iron-icon-color);
    }
    #block.youtube-shorts-block>svg{
        fill: var(--iron-icon-color);
    }
}